.loginContenedor{
    height: 100vh;
}

.loginForm{
    height: 75vh;
    width: 25vw;
    border-radius: 5vh;
    background-color: rgb(223, 223, 223);
}

.login{
}

.loginInputsLabels{

}

.loginInput{
    height: 5vh;
    width: 20vw;
    border-radius: 5vh;
    border: 1px solid rgb(182, 181, 181);
    background-color: rgb(182, 181, 181);
}

.loginButton{
    height: 5vh;
    width: 20vw;
    border-radius: 5vh;
    border: 1px solid rgb(253, 244, 244);
    background-color: rgb(253, 244, 244);
}