/* TIENDA */

.tiendaContenedor {
    width: 100%;
    height: auto;
}

.tiendaEspaciador {
    height: 10vh;
}

/* BUSCADOR */

.tiendaBusqueda {
    width: 100%;
    height: 10vh;

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 73%, rgba(255, 255, 255, 0) 100%);
}

.tiendaBusqueda input {
    width: calc(100% - 10vh);
    height: 5vh;

    border-radius: 2.5vh;
    border: none;
    padding: 0 2.5vh;

    background-color: lightgray;
}

.tiendaBusqueda input:focus {
    border: none;
    outline: none;
}

/* TIENDA CONTENIDO */

.tiendaContenido {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* IZQUIERDA */

.tiendaIzq {
    margin-right: 5vh;
}

/* DERECHA */

.tiendaFiltros {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: right;
}

.tiendaOrdenarPor {
    width: 20vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tiendaContenedorArticulos {
    width: 135vh;
    height: auto;

    display: flex;
    flex-wrap: wrap;

    gap: 2.5vh;

    margin-top: 2.5vh;
}

.tiendaArticulo {
    transition: 0.25s ease;
}

.tiendaArticulo:hover {
    scale: 1.015;
}

.tiendaArticulo a {
    color: black;
    text-decoration: none;
}

.tiendaArticuloImg {
    width: 25vh;
    height: 25vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tiendaArticuloImg img {
    max-width: 25vh;
    max-height: 25vh;

    border-radius: 1.5vh;
}

.tiendaArticuloTexto {
    width: 100%;
    height: auto;

    margin-top: 2.5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 0.5vh;
}

/* PAGINADO */

.tiendaPaginado {
    width: 100%;
    
    margin: 5vh 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tiendaPaginado p {
    width: 5vh;
    height: 5vh;

    border-radius: 2.5vh;

    background-color: lightgray;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 0.75vh;

    user-select: none;

    transition: 0.15s ease;
}

.tiendaPaginado p:hover {
    cursor: pointer;

    background-color: rgb(190, 190, 190);
}