/* CSS del chatbot*/
.chatbotDiv{
    /* Esta linea de codigo y las de abajo ajustan el chatbot a la derecha sin sacar el formulario del medio */
    position: fixed;
    bottom: 2vh;
    right: 2vh;
    height: 45vh;
    width: clamp(320px, 30vw, 450px);
    border-radius: 2vh;
    background-color: rgb(223, 223, 223);
    z-index: 1000; /* para que quede por encima de todo lo demás */
}

.chatbotDivTitulo{
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    background-color: rgb(182, 181, 181);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatbotTitulo{
    margin-left: 1vh;
}

.chatbotButtonCerrar{
    height:4vh;
    width: 2vw;
    border-radius: 2vh;
    border: 1px solid rgb(253, 244, 244);
    background-color: rgb(253, 244, 244);
    cursor: pointer;
    margin-right: 0.5vh;
}

.chatbotInputButton{
    height: 38.5vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.chatbotInput{
    height: 5vh;
    width: 25vw;
    border-radius: 2vh;
    border: 1px solid rgb(182, 181, 181);
    background-color: rgb(182, 181, 181);
}

.chatbotButtonEnviar{
    height:6vh;
    width: 3vw;
    border-radius: 2vh;
    border: 1px solid rgb(253, 244, 244);
    background-color: rgb(253, 244, 244);
    cursor: pointer;
}