.quienesSomosContenedor{
    height: 90%;
    width: 100%;

    display: flex;
}

.quienesSomosMenu{
    height: auto;
    width: 30%;

    margin-top: 10vh;
}

.quienesSomosBody{
    height: auto;
    width: 70%;

    margin: 10vh;
}